body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 400px;
}
body > h1 {
  display: inline-flex;
  align-items: center;
  font-size: 6em;
  margin-bottom: 1vh;
}
body > h1 > img {
  margin-right: 2em;
  height: 2em;
}
/*  */
#time-display {
  text-align: end;
  font-size: 4em;
  margin-bottom: 4vh;
}
/*  */
table {
  font-size: 12em;
}
table > tbody > tr {
  height: 2em;
}
/*  */
.upgrade {
  display: flex;
  align-items: center;
  height: 35px;
  width: min(120px, 20vw);
}
.upgrade .progress {
  height: 60%;
  width: 0px;
  border-radius: 0.4rem;
  background: #ff4754;
  transition: width 0.4s ease;
}
/*  */
.profit {
  width: 160px;
  padding-left: 10px;
  padding-bottom: 8px;
}
.upgradeCost {
  margin-right: 5px;
  font-size: 1.4rem;
  display: inline-flex;
}
.upgradeCost::before {
  content: "R$ ";
  font-size: 1rem;
  font-weight: 300;
}
.invest {
  border: 0px transparent;
  cursor: pointer;
  width: min(120px, 20vw);
  border-radius: 4px;
}
.invest img {
  height: 20px;
}
/*  */
#actual-amount {
  margin-top: 2vh;
  text-align: end;
  font-size: 3.6rem;
  font-weight: 500;
}
#actual-amount::before {
  font-size: 2rem;
  font-weight: 300;
  content: "R$ ";
}
#coin-per-second {
  margin-top: 8px;
  text-align: end;
  font-size: 2.8rem;
}
#coin-per-second::before {
  font-size: 1.6rem;
  font-weight: 300;
  content: "R$ ";
}
#coin-per-second::after {
  font-size: 1.8rem;
  content: " /second";
}
.switch {
  width: 100%;
  padding: 10px 8px;
  box-sizing: border-box;
  margin-top: 20px;
  border: 1px solid #0000007a;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#startGame input {
  width: 60%;
}
.switchButton {
  border: 0px transparent;
  outline: 0px transparent;
  border-bottom: 1px solid #0000007a;
  padding: 4px;
  letter-spacing: -0.5px;
  cursor: pointer;
}
#endGame {
  display: none;
}
@media (min-width: 700px) {
  body {
    padding-left: 60px;
  }
}
